.app_wrapper {
  display: grid;
  grid-template-rows: 55px 1fr 100px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "mainNavbar_grid"
    "mainContent_grid"
    "mainFooter_grid";

  height: 100vh;
}