.create_bank_page_wrapper {
    display: grid;
    grid-area: create_bank;

    grid-template-areas: "form";
}

.buttons {
    display: flex;
    justify-content: space-around;
}

b {
    width: 150px;
}